body{
	background:
		linear-gradient(gold,yellow);
	text-align: center;
}

table{
	background:
		linear-gradient(aqua,white);
		padding: 7px;
		margin: 5px;
		border: 10px dotted springgreen;
		border-spacing: 6px;
}

h5{
	color: red;
}

.image{
	height: 50000px;
	width: 50000px;
}
