.header{
	background: 
		linear-gradient(aqua,white);
	padding: 15px;
	margin: 10px;
	border: 10px solid springgreen;
}

.sidebar{
	background:
		linear-gradient(aqua,white);
	padding: 15px;
	margin: 10px;
	border: 10px dotted springgreen;
	display: inline-block;
	
}

.main{
	background:
		linear-gradient(aqua,white);
	padding: 15px;
	margin: 10px;
	border: 10px dotted springgreen;
	display: inline-block;
}
